torch
transformers
accelerate
bitsandbytes
sentencepiece
langchain
langchain-community
langchain-huggingface
faiss-gpu
sentence-transformers
openai-whisper
pypdf
python-pptx
python-docx
moviepy
pydub
fastapi
uvicorn
python-multipart
pyngrok
reportlab
nest-asyncio
